﻿@page
@model SignalRDataServer.Pages.LogInModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@functions{
    public void Register()
        {
            RedirectToPage("SignUp");
        }
}

<h1>LogIn</h1>
<form method="post">
    <input asp-for="UserName" /><br /><br />
    <input asp-for="Password" /><br /><br />
    <button type="submit">LogIn</button><br /><br />
</form>
<form method="get" action="/SignUp">
    <button type="submit">Register</button>    
</form>

