﻿@page
@model SignalRDataServer.Pages.PlaceOrderModel
@{
    ViewData["Title"] = "Place Order";
}

<h1>PlaceOrder</h1>

<form method="post">
    Resaurant ID:
    <input asp-for="Order.RestId" /> <br /><br />
    Person Count:   O
    <input asp-for="Order.PersonCount" /> <br /><br />
    Smoking Zone:   O
    <input asp-for="Order.SmokingZone" type="checkbox" /> <br /><br />
    VIP Zone:       O
    <input asp-for="Order.VIPZone" type="checkbox" /> <br /><br />
    <input type="submit" />
</form>