﻿@page
@model SignalRDataServer.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>SignUp</h1>

<form method="post">
    <input asp-for="UserName" /> <br /><br />
    <input asp-for="Password" /> <br /><br />
    <input type="submit" />
</form>